@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* div .container form{
    text-align: center;
} */

h2{
    text-align: center;
    margin: 100px 0px;
    transition: 0.3s ease;
}


/* form .form-group{
    text-align: center;
} */

/* form .form-group .form-control{
    margin: 10px;
    border: 1px solid black;
    width: 50%;
    display: inline-block;
} */

/* Admin */

/* Side Menu */

